{% extends "base.html" %}
{% set active_page = "account" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}Главная страница{% endblock %}
{% block body %}
{{ utils.flashed_messages() }}
<div class="bg-1">
    <div class="container">
        <div class="row text-center">
            {% if plan %}
            <div class=" col-sm-12 col-md-6">
                <h5>
                    Твой тарифный план:
                </h5>
                <h1>{{ plan.price }}₽
                    <small>в месяц</small>
                </h1>
                <p>Следующее списание {{ next_pay }}</p>
                <div style="height: 40px;">
                <button type="button" class="btn btn-sm btn-success" data-toggle="popover" title="Немного подробностей:" data-content="Консультации - всего {{ plan.consultations}}, из них проведено {{ plan.consultations - plan.consultations_now }}.
                Занятия - всего {{ plan.lessons}}, из них проведено{{ plan.lessons - plan.lessons_now }}.">Подробности</button>
                </div>
            </div>
            {% else %}
            <div class=" col-sm-12 col-md-6 mt-4">
                <h5>
                    У тебя пока нет тарифного плана, может самое время <a href="{{ url_for('home.shop') }}">приобрести его?</a>
                </h5>
            </div>
            {% endif %}
            <div class=" col-sm-12 col-md-6 text-center">

                <h3>Материалы</h3>
                <p>Следующий {{ ' ' ~ next_material_date }}</p>
                <div class="container" style="max-width: 300px; padding-top: 0px">
                </div>
                <a href="{{ url_for('home.materials_home') }}" class="btn btn-sm btn-secondary">Посмотреть
                    прошлые</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-road_map text-center">
                <a class="btn btn-success btn-lg mt-5" href="{{ url_for('home.road_map') }}">
                    Дорожная карта
                </a>
            </div>
            <br>
            <div class="bg-blackboard" style="padding: 10px;">
                {% if mentor %}
                <div>
                    <img src="{{ url_for('static', filename=('images/profile/' ~ mentor.image)) }}"
                         class="rounded-circle img-fluid float-left mr-3 ml-2"
                         alt="140x140"
                         style="width: 120px; height: 120px;">
                    <div>
                        <h5>{{ mentor.first_name ~ " " ~ mentor.last_name }} - твой куратор</h5>
                        <p style="font-size: 0.9em">{{ teacher.achievements }}</p>
                        <p class="no_mar"><span class="fa fa-envelope"></span> {{ mentor.email }} </p>
                        <br>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-sm btn-success" style="display: none">Написать в чатике</a>
                        <a href="#" class="btn btn-sm btn-danger" data-toggle="modal"
                           data-target="#claim_modal">Пожаловаться</a>
                    </div>
                    <hr>
                </div>
                {% else %}
                <div>
                    <div>
                        <h5 align="center">Почему-то мы не можем найти куратора, что очень странно, пожалуйста, напиши в
                            поддержку как можно скорее!</h5>

                    </div>

                </div>
                {% endif %}
            </div>
            <br>
        </div>
        <div class="col-md-6">
            <h2>Календарь событий:</h2>
            <br>
            {% for week in schedule %}
            <h3>{{ loop.index }} неделя</h3>
            <hr>
            {% for day in week %}
            {% if day %}
            <div class="row">
                <div class="col-md-4">
                    {{ weekdays[loop.index0] }}
                </div>
                <div class="col-md-8">
                    <table class="table table-stripes table-hover">
                        {% for item in day %}
                        <tr>
                            <td>{{ item.subject_name }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.teacher_name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <br>
            {% endfor %}
        </div>
    </div>
</div>
<form action="{{ url_for('home.account') }}">
    <div class="modal fade" id="claim_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle_1">Пожаловаться</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Опять этот аутист накосячил. Ну что же, пишите, разберёмся с ним.</label>
                    <textarea class="form-control" id="claim_text" rows="8"></textarea>
                </div>
                <div class="modal-footer">
                    <a href="javascript:send_claim({{ teacher.id }});" class="btn btn-success">Отправить</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    function send_claim(mentor_id) {
        $.post(("/account/send_claim/" + mentor_id), {
            text: document.getElementById('claim_text').value
        }).done(function () {
        }).fail(function () {
        });
        $('#claim_modal').modal('hide');
    }
$(function () {
  $('[data-toggle="popover"]').popover()
})</script>
{% endblock %}