{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Изменение персональных данных{% endblock %}
{% block body %}
<div class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Изменение персональных данных</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="content-section">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="center">
                        <br/>
                        {{ wtf.quick_form(form,enctype="multipart/form-data") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}