{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Чат-бот{% endblock %}
{% block body %}
<div class="bg-chat_bot">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Чат-бот
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Что это?</h3>
            <p>Это специальная программа, выполняющая автоматически и/или по заданному расписанию какие-либо действия
                через интерфейсы, предназначенные для людей. При обсуждении компьютерных программ термин употребляется в
                основном в применении к Интернету.
                <small><i>wikipedia</i></small>
            </p>
            <hr>
            <h3>Что он может?</h3>
            <p>Он может практически все. Вот список возможностей:</p>
            <ul>
                <li>Сообщать тебе о переводах в личном кабинете</li>
                <li>Напоминать о занятиях</li>
                <li>Сообщать о наших новых услугах и акциях</li>
                <li>Присылать дайджесты об интересных материалах</li>
                <li>Написав ему ты пишешь напрямую службе поддержки</li>
            </ul>
            <hr>
            <h3>Хочу, как установить себе?</h3>
            <P>Всё просто - это можно сделать за пару минут:</P>
            <ol>
                <li>Укажи здесь в настройках адрес своей страницы ВК и желаемый функционал</li>
                <li>Перейди по <a href="#">ссылке</a></li>
                <li>Напиши в сообщения сообщества</li>
            </ol>
            <br>
        </div>
        <div class="col-md-6">
            <h3>Настройки</h3>
            <hr>
            <form action="#">
                <div class="form-group row">
                    <label class="col-sm-4">Введите адрес вашей страницы Вконтакте:</label>
                    <div class="col-sm-8">
                        <input type="url" class="form-control" value="https://vk.com/">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4">Разные параметры</label>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input"> Присылать
                                мне
                                уведомления об акциях edukato</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input"> Присылать
                                мне
                                дайджесты материалов по предметам</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input"> Сообщать
                                мне о
                                зачислениях и тратах средств на счете</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input"> Прислыть
                                мне
                                уведомления перед занятиями</label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label"><input type="checkbox" class="form-check-input"> Напоминать,
                                что
                                нужно ботать</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-sm-4 col-sm-8">
                        <button type="submit" class="btn btn-success">Готово</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="offset-sm-4 col-sm-8">
                        <small>При нажатии на кнопу "Готово" вы соглашаетесь с условиями <a
                                href='' data-toggle="modal" data-target="#rules">положения</a></small>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Положение о сервисах в социальных сетях</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_1._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Российская
                    Федерация — Россия есть демократическое федеративное правовое государство с республиканской формой
                    правления.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_1._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. Наименования
                    Российская Федерация и Россия равнозначны. <span><span class="noprint"><span class="ws-noexport"
                                                                                                 style="position:absolute; left:1em; text-indent:0em; text-align:left; font-size:80%; font-weight:normal; font-style: normal;"><span
                            id="pr_page"><span id="zzz" style="display:none;"></span><span id="11748"></span>[<a
                            href="/wiki/%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0:%D0%A1%D0%BE%D0%B1%D1%80%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%BE%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%B0_%D0%A0%D0%A4._2014._%E2%84%96_31.pdf/4"
                            class="prp-pagequality-4" title="Страница:Собрание законодательства РФ. 2014. № 31.pdf/4">11748</a>]</span></span></span></span>
                </p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_2"></span>
                <center><b>Статья 2</b></center>
                <p>Человек, его права и свободы являются высшей ценностью. Признание, соблюдение и защита прав и свобод
                    человека и гражданина — обязанность государства.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_3"></span>
                <center><b>Статья 3</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_3._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Носителем
                    суверенитета и единственным источником власти в Российской Федерации является ее многонациональный
                    народ.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_3._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. Народ
                    осуществляет свою власть непосредственно, а также через органы государственной власти и органы
                    местного самоуправления.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_3._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_3"></span>3. Высшим
                    непосредственным выражением власти народа являются референдум и свободные выборы.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_3._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_4"></span>4. Никто
                    не может присваивать власть в Российской Федерации. Захват власти или присвоение властных полномочий
                    преследуются по федеральному закону.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_4"></span>
                <center><b>Статья 4</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_4._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Суверенитет
                    Российской Федерации распространяется на всю ее территорию.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_4._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. Конституция
                    Российской Федерации и федеральные законы имеют верховенство на всей территории Российской
                    Федерации.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_4._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_3"></span>3. Российская
                    Федерация обеспечивает целостность и неприкосновенность своей территории.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_5"></span>
                <center><b>Статья 5</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_5._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Российская
                    Федерация состоит из республик, краев, областей, городов федерального значения, автономной области,
                    автономных округов — равноправных субъектов Российской Федерации.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_5._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. Республика
                    (государство) имеет свою конституцию и законодательство. Край, область, город федерального значения,
                    автономная область, автономный округ имеет свой устав и законодательство.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_5._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_3"></span>3. Федеративное
                    устройство Российской Федерации основано на ее государственной целостности, единстве системы
                    государственной власти, разграничении предметов ведения и полномочий между органами государственной
                    власти Российской Федерации и органами государственной власти субъектов Российской Федерации,
                    равноправии и самоопределении народов в Российской Федерации.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_5._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_4"></span>4. Во
                    взаимоотношениях с федеральными органами государственной власти все субъекты Российской Федерации
                    между собой равноправны.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_6"></span>
                <center><b>Статья 6</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_6._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Гражданство
                    Российской Федерации приобретается и прекращается в соответствии с федеральным законом, является
                    единым и равным независимо от оснований приобретения.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_6._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. Каждый
                    гражданин Российской Федерации обладает на ее территории всеми правами и свободами и несет равные
                    обязанности, предусмотренные Конституцией Российской Федерации.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_6._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_3"></span>3. Гражданин
                    Российской Федерации не может быть лишен своего гражданства или права изменить его.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_7"></span>
                <center><b>Статья 7</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_7._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Российская
                    Федерация — социальное государство, политика которого направлена на создание условий, обеспечивающих
                    достойную жизнь и свободное развитие человека. <span><span class="noprint"><span class="ws-noexport"
                                                                                                     style="position:absolute; left:1em; text-indent:0em; text-align:left; font-size:80%; font-weight:normal; font-style: normal;"><span
                            id="pr_page"><span id="zzz" style="display:none;"></span><span id="11749"></span>[<a
                            href="/wiki/%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0:%D0%A1%D0%BE%D0%B1%D1%80%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%BE%D0%B4%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%B0_%D0%A0%D0%A4._2014._%E2%84%96_31.pdf/5"
                            class="prp-pagequality-4" title="Страница:Собрание законодательства РФ. 2014. № 31.pdf/5">11749</a>]</span></span></span></span>
                </p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_7._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. В
                    Российской Федерации охраняются труд и здоровье людей, устанавливается гарантированный минимальный
                    размер оплаты труда, обеспечивается государственная поддержка семьи, материнства, отцовства и
                    детства, инвалидов и пожилых граждан, развивается система социальных служб, устанавливаются
                    государственные пенсии, пособия и иные гарантии социальной защиты.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_8"></span>
                <center><b>Статья 8</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_8._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. В
                    Российской Федерации гарантируются единство экономического пространства, свободное перемещение
                    товаров, услуг и финансовых средств, поддержка конкуренции, свобода экономической деятельности.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_8._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. В
                    Российской Федерации признаются и защищаются равным образом частная, государственная, муниципальная
                    и иные формы собственности.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_9"></span>
                <center><b>Статья 9</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_9._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Земля и
                    другие природные ресурсы используются и охраняются в Российской Федерации как основа жизни и
                    деятельности народов, проживающих на соответствующей территории.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_9._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. Земля и
                    другие природные ресурсы могут находиться в частной, государственной, муниципальной и иных формах
                    собственности.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_10"></span>
                <center><b>Статья 10</b></center>
                <p>Государственная власть в Российской Федерации осуществляется на основе разделения на законодательную,
                    исполнительную и судебную. Органы законодательной, исполнительной и судебной власти
                    самостоятельны.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_11"></span>
                <center><b>Статья 11</b></center>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_11._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_1"></span>1. Государственную
                    власть в Российской Федерации осуществляют Президент Российской Федерации, Федеральное Собрание
                    (Совет Федерации и Государственная Дума), Правительство Российской Федерации, суды Российской
                    Федерации.</p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_11._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_2"></span>2. Государственную
                    власть в субъектах Российской Федерации осуществляют образуемые ими органы государственной власти.
                </p>
                <p><span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_11._.D0.A7.D0.B0.D1.81.D1.82.D1.8C_3"></span>3. Разграничение
                    предметов ведения и полномочий между органами государственной власти Российской Федерации и органами
                    государственной власти субъектов Российской Федерации осуществляется настоящей Конституцией,
                    Федеративным и иными договорами о разграничении предметов ведения и полномочий.</p>
                <span id=".D0.A1.D1.82.D0.B0.D1.82.D1.8C.D1.8F_12"></span>
                <center><b>Статья 12</b></center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}