{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}Подтвердите покупку{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if case == 0 %}
                <h1>Есть проблема. Ты уже оплатил следующий месяц.</h1>
                <p>Мы рады твоему желанию работать с нами, однако мы просим оплачивать не более, чем на месяц в перед, так как практика показывает большое число отказов</p>
            {% else %}
                {% if case == 1 %}
                    <h1>Есть проблема. Ты выбрал меньше услуг, чем есть у тебя.</h1>
                    <p>Надо брать больше. И, пожалуйста, никогда больше не играй с адресами страниц, это незаконно.</p>
                {% else %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}