{% extends "base.html" %}
{% set active_page = "contacts" %}
{% block title %}Контакты{% endblock %}
{% block body %}

<div class="bg-contacts">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Как до нас достучаться?
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3>Кто мы?</h3>
    <div class="par">
    <p>
        Сообщество студентов лучших вузов Москвы, победители и призёры Всероссийских олимпиад и просто
        стобальники и отличники.
    </p>
    </div>
    <h3>Что мы хотим?</h3>
    <div class="par">
    <p>
        Предоставить уникальную возможность комплексной подготовки к поступлению от выбора вуза, до подачи документов.
    </p>
    </div>
    <h3>Где мы?</h3>
    <div class="par">
    <p>
        В интернете, конечно, так что для общения с нами вам даже не нужно выходить из дома (даже из контактика).
    </p>
    </div>
    <p><a href="https://vk.com/edukato_learning"><img src="static/images/Vklogo.png" width="50"
    height="50" border="0" alt="Пример"></a> &nbsp; &nbsp; &nbsp;
    <a href="#"><img src="static/images/Tellogo.png" width="50"
    height="50" border="0" alt="Пример"></a> &nbsp; &nbsp;
    <a href="#"><img src="static/images/Viblogo.jpg" width="65"
    height="65" border="0" alt="Пример"></a> &nbsp; &nbsp;
    <a href="#"><img src="static/images/Whatslogo.png" width="52"
    height="52" border="0" alt="Пример"></a>
    </p>
    <h2>Что-то пошло не так?</h2>
    <div class="par">
    <p>
        Возникли проблемы? Пиши в <a href="{{ url_for('home.help') }}">поддержку!</a>
    </p>
    </div>
</div>
{% endblock %}