{% extends "base.html" %}
{% block title %}Лента новостей{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <h3>Источники</h3>
        <ul class="list-group">
            <li class="list-group-item justify-content-between list-group-item-action">
                Cras justo odio
                <span class="badge badge-default badge-pill">14</span>
            </li>
            <li class="list-group-item justify-content-between list-group-item-action">
                Dapibus ac facilisis in
                <span class="badge badge-default badge-pill">2</span>
            </li>
            <li class="list-group-item justify-content-between list-group-item-action">
                Morbi leo risus
                <span class="badge badge-default badge-pill">1</span>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <h3>Лента</h3>
        <div class="card">
            <div class="card-block">
                <img data-src="holder.js/140x140" class="rounded-circle img-fluid float-left mr-3" alt="140x140"
                     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                     style="width: 50px; height: 50px;">
                <h4 class="card-title">РЕШУ ЕГЭ</h4>
                <h6 class="card-subtitle mb-2 text-muted">vk.com/reshuege</h6>
                <p class="card-text">ЗАВТРА ЭКЗАМЕН ПО ХИМИИ</p>
                <p class="card-text">

                    Посылаем вам в помощь Дмитрия Ивановича Менделеева.
                    Если запомните условия последних заданий, пишите. Мы их решим и разместим на сайте. Будет время —
                    запишите условия в чистовик, потом можно будет со сканов прочитать.
                </p>
                <p class="card-text">
                    В комментариях спор разгорелся, можно ли условия в чистовик записывать. А что тут спорить? Когда вы
                    тему сочинение пишете или эссе, уравнение решаете или "дано" в задаче записываете это и есть
                    условие. Писать его можно, а иногда и нужно, зачастую необязательно. В чистовиках запрещено делать
                    пометки, позволяющие вас идентифицировать и только. Кимы и черновики никто не читает, можно делать
                    пометки. Почему вам этого не рассказали в деталях? Пометка на киме "копирование запрещено" означает,
                    что его нельзя фотографировать или сканировать. Записать по памяти, выйдя с экзамена, тоже можно.
                </p>
                <p class="card-text">
                    Что порешать к экзамену писали позавчера.
                    Опрос о прогнозе по баллам разместим после экзамена на Камчатке.</p>
                <a href="#" class="card-link">Мне нравится</a>
            </div>
            <div class="card-footer">
                <small class="text-muted">Было выложено час назад</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}