{% extends "base.html" %}
{% set active_page = "account" %}
{% block title %}Материалы{% endblock %}
{% block body %}
<style>
    .author{
        font-size:12pt;
    }
    .content{
        font-size:12pt;
    }
</style>
<div class="container" style="max-width: 850px">
    <div class="form-inline mb-2">
        <H1 class="mr-3">Материалы</H1>
        <a href="#"><span class="badge badge-pill badge-primary mr-3">Математика</span></a>
        <a href="#"><span class="badge badge-pill badge-primary mr-3">Русский язык</span></a>
        <a href="#"><span class="badge badge-pill badge-primary mr-3">Химия</span></a>
        <a href="#"><span class="badge badge-pill badge-primary mr-3">Физика</span></a>
    </div>
    <div class="card text-center">
        <div class="card-block">
            <div class="row">
                <div class="col-12 col-md-auto text-left" style="padding-right: 5px">
                    <img  class="rounded-circle" width="50px" src="static/images/profile/1.png">
                </div>
                <div class="col text-left">
                    <p class="author" style="margin-bottom: 2px">Дмитрий Гущин</p>
                    <p class="author" style="margin-bottom: 12px">Автор спижженых заданий</p>
                </div>
            </div>
            <h4 class="card-title mb-1">Углеродные материалы</h4>
            <p class="card-text text-left content">Увлекательный рассказ о том, как нужно хайпить на углеродных материалах.&nbsp;
                Вам потребуется: электронный микроскоп - 1шт,&nbsp; Женя - 1шт </p>
            <div class="text-left">
                <a href="{{url_for('home.material')}}" class="btn btn-primary">Под кат</a>
            </div>
        </div>
        <div class="card-footer text-muted text-left">
            11.07.2017 в 17:21
        </div>
    </div>
    <br>
    <div class="card text-center">
        <div class="card-block">
            <div class="row">
                <div class="col-12 col-md-auto text-left" style="padding-right: 5px">
                    <img class="rounded-circle" width="50px" src="static/images/profile/1.png">
                </div>
                <div class="col text-left">
                    <p class="author" style="margin-bottom: 2px">Дмитрий Гущин</p>
                    <p class="author" style="margin-bottom: 12px">Автор спижженых заданий</p>
                </div>
            </div>
            <h4 class="card-title mb-1">Углеродные материалы</h4>
            <p class="card-text text-left content">Увлекательный рассказ о том, как нужно хайпить на углеродных материалах.&nbsp;
                Вам потребуется: электронный микроскоп - 1шт,&nbsp; Женя - 1шт </p>
            <div class="text-left">
                <a href="#" class="btn btn-primary">Под кат</a>
            </div>
        </div>
        <div class="card-footer text-muted text-left">
            11.07.2017 в 17:21
        </div>
    </div>
    <br>
    <div class="card text-center">
        <div class="card-block">
            <div class="row">
                <div class="col-12 col-md-auto text-left" style="padding-right: 5px">
                    <img class="rounded-circle" width="50px" src="static/images/profile/1.png">
                </div>
                <div class="col text-left">
                    <p class="author" style="margin-bottom: 2px">Дмитрий Гущин</p>
                    <p class="author" style="margin-bottom: 12px">Автор спижженых заданий</p>
                </div>
            </div>
            <h4 class="card-title mb-1">Углеродные материалы</h4>
            <p class="card-text text-left content">Увлекательный рассказ о том, как нужно хайпить на углеродных материалах.&nbsp;
                Вам потребуется: электронный микроскоп - 1шт,&nbsp; Женя - 1шт </p>
            <div class="text-left">
                <a href="#" class="btn btn-primary">Под кат</a>
            </div>
        </div>
        <div class="card-footer text-muted text-left">
            11.07.2017 в 17:21
        </div>
    </div>
</div>
{% endblock %}