{% extends "base.html" %}
{% set active_page = "account" %}
{% block title %}Материалы{% endblock %}
{% block body %}
<style>
    .breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    }

    .breadcrumb{
        border: none;
        background-color: white;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .author {
        font-size: 12pt;
    }

    .content {
        font-size: 11pt;
    }
</style>
<div class="container" style="max-width: 850px">
    <ol class="breadcrumb mb-0" >
        <li class="breadcrumb-item"><a href="{{url_for('home.account')}}">Главная</a></li>
        <li class="breadcrumb-item breadcrumb-item"><a href="{{url_for('home.materials_home')}}">Материалы</a></li>
        <li class="breadcrumb-item active">Химия</li>
    </ol>
    <div class="card-block">
        <div class="row mb-2">
            <div class="col-12 col-md-auto text-left" style="padding-right: 5px">
                <img class="rounded-circle" width="50px" src="static/images/profile/1.png">
            </div>
            <div class="col text-left">
                <p class="author" style="margin-bottom: 2px">Дмитрий Гущин</p>
                <p class="author" style="margin-bottom: 12px">Автор спижженых заданий</p>
            </div>
        </div>
        <h4>Углеродные материалы</h4>
        <p class="content">Увлекательный рассказ о том, как нужно хайпить на углеродных материалах.&nbsp;
            Вам потребуется: электронный микроскоп - 1шт,&nbsp; Женя - 1шт <br>
            И <br>
            Ещё <br>
            Много <br>
            Текста <br>
            О <br>
            ч <br>
            е <br>
            н <br>
            ь <br>
            Много <br>
        </p>
    </div>
</div>
{% endblock %}