{% extends "base.html" %}
{% set active_page = "parents" %}
{% block title %}Пользовательское соглашение{% endblock %}
{% block body %}
<div class="bg-envelope">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Письмо родителям
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8" style="font-size: 1.2em">
            <p class="lead">Здравствуйте.
            </p><p class="lead">
Меня зовут Анна, я – сотрудник edukato. Мы бы очень хотели, чтобы ваш ребёнок присоединился к нашей программе подготовки, и, конечно, постараемся сделать этот процесс максимально эффективным: свести экономические затраты и усилия к минимуму, а итоговые баллы за ЕГЭ – к максимуму.
            </p><p>
Мы прекрасно понимаем, что процесс поступления – один из самых непростых периодов в жизни любого старшеклассника, поэтому ваша поддержка сейчас очень важна. В связи с этим мы непременно будем держать Вас в курсе успехов вашего ребёнка.
            </p><p>
            И в этом письме мне хотелось бы рассказать, как же работает edukato.
            </p><p>
Особенность edukato – комплексная подготовка старшеклассника сразу ко всем выбранным для сдачи предметам: Вам не нужно искать репетиторов по каждому профилю, мы сделаем это за Вас.
            </p><p>
Вторая, и не менее важная, наша особенность – индивидуальный подход к каждому клиенту. На основе тщательного тестирования мы сделаем несколько ключевых выводов. Во-первых, мы предоставим Вам ориентировочный список университетов, куда может поступить ваш ребёнок, исходя из его предпочтений и возможностей. Во-вторых, подготовим индивидуальный план поступления, учитывающий сильные и слабые стороны каждого старшеклассника. Мы хотим, чтобы наши клиенты тратили время исключительно на проработку необходимой для поступления информации.
            </p><p>
Процесс поступления любого нашего клиента будет контролировать персональный куратор. Это ваш личный «гид» в лабиринте поступления. Куратор будет следить за расписанием вашего ребёнка, отправкой ему домашних заданий и выполнением домашних работ. Ежемесячно куратор будет отправлять Вам табель успеваемости вашего ребёнка с кратким комментарием каждого преподавателя. Вы также можете в любое время задать вопросы о процессе поступления. Для этого пишите куратору на электронную почту. Если ваш куратор не отвечает в течение суток вы также можете написать в службу поддержки по адресу…
            </p><p>
Еще один важный момент – индивидуальный калькулятор. Вы сами можете выбирать нужное вам количество консультаций и занятий.
            </p><p>
Также я рекомендую Вам подписаться на наши группы в социальных сетях, чтобы постоянно быть в курсе наших обновлений. (<a href="https://vk.com/edukato_learning">ВКонтакте</a>)
            </p><p>
В заключение повторюсь, что процесс поступления – непростой и волнительный этап в жизни любого старшеклассника. edukato сделает всё возможное, чтобы поддержать вашего ребёнка и помочь ему поступить в желаемый ВУЗ.             </p><p>
            </p><p class="mb-0">
Всего наилучшего,
            </p><p>
Анна, сотрудник edukato.
</p>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="{{ url_for('static', filename='images/ann.jpg') }}"
        </div>
    </div>
</div>
{% endblock %}