{% extends "base.html" %}
{% block title %}Пополнение счета{% endblock %}
{% block body %}
<div class="bg-2 text-center" style="padding-bottom: 0px;">
    <p>
        <small>На вашем счете:</small>
        {{ current_user.balance }}₽
    </p>
</div>
<div class="container">
    <h1>Пополнение баланса</h1>
    <hr>
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInputGroup">Введите сумму для пополнения:</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Введите сумму">
            <div class="input-group-addon">₽</div>
        </div>

        <button type="submit" class="btn btn-success">Оплатить</button>
    </form>
    <p>Вы будете перенаправлены на сайт <abbr
            title="Яндекс.Касса позволяет нам быстро и безопасно проводить платежи огромным количеством способов">Яндекс.Касса</abbr>
        для завершения платежа</p>
    <p>
        <small>Деньги, находящиеся на вашем лицевом счёте, могут быть списанны только на приобретения услуг,
            предоставлемых
            edukato. Нажимая кнопку "Оплатить" вы соглашаетесь с условиями использования сервисов edukato.
        </small>
    </p>
</div>
{% endblock %}