{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block body %}
<div class="bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img data-src="holder.js/140x140" class="rounded-circle img-fluid float-left mr-3" alt="140x140"
                     src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"
                     style="width: 150px; height: 150px;">
                <h2>{{ service.name }}</h2>
                <p class="lead">{{ service.description}}</p>
            </div>
            <div class="col-md-4">
                <p>Стоимость:</p>
                <h1>{{ service.price }}₽
                    <small>в месяц</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-7">
            <h2>О курсе</h2>

            <p>{{ service.description}}</p>
        </div>
        <div class="col-md-5">
            <h2>Смотрите видео:</h2>
            <iframe width="100%" height="250" src="https://www.youtube.com/embed/cANagPGUwOo" frameborder="0"
                    allowfullscreen></iframe>
            <hr>
            <h2>Отзывы клиентов:</h2>
        </div>
    </div>
</div>
{% endblock %}