{% extends "base.html" %}
{% block title %}{{ service.description}}{% endblock %}
{% block body %}
<div class="bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img data-src="holder.js/140x140" class="rounded-circle img-fluid float-left mr-3" alt="140x140"
                     src="{{ url_for('static', filename='images/shop/' ~ service.id ~ '.png')}}"
                     style="width: 150px; height: 150px;">
                <h2>{{ service.name }}</h2>
                <p class="lead">{{ service.description}}</p>
            </div>
            <div class="col-md-4">
                <p>Стоимость:</p>
                <h1>{{ service.price }}₽
                    <small>в месяц</small>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-7">
            <h2>О курсе</h2>

            <p>{{ service.full_description}}</p>
        </div>
        <div class="col-md-5">
            {% if service.video %}
            <h2>Смотрите видео:</h2>
            <iframe width="100%" height="250" src="{{ service.video }}" frameborder="0"
                    allowfullscreen></iframe>
            <hr>
            {% endif %}
            {% if review_list %}
            <h2>Отзывы клиентов:</h2>
                {% for item in review_list %}
                <h5>{{ item[0] }}</h5>
                <p>{{ item[1] }}</p>
                <hr>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}