{% extends "base.html" %}
{% block title %}Магазин{% endblock %}
{% block body %}
<h1 align="center">Магазин</h1>
<div>
    <h2>Новинки
        <small><span class="badge badge-default">4</small>
        </span></h2>
</div>
<br>
<div class="row">
    {% if services %}
    {% for service in services %}
    <div class="col-md-3">
        <div class="card">
            <div class="divgood">
                <img class="card-img-top m-2 good" src="" alt="Card image cap">
            </div>
            <div class="card-block">
                <h4 class="card-title">{{ service.name }}</h4>
                <p class="card-text">{{ service.description}}</p>
                <a href="{{ url_for('home.confirm_transaction', id=service.id) }}" class="btn btn-success">Купить</a>
                <a href="{{ url_for('home.show_service', id=service.id) }}" class="btn btn-secondary">Подробнее</a>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
    {% else %}
    <h3> Товаров пока нет, зайдите позже. </h3>
    {% endif %}
</div>

{% endblock %}