{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}Главная страница{% endblock %}
{% block body %}
<div class="bg-chat_bot">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Знания свет — путь укажет нам.</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Кураторство</h3>
            <hr>
            {% if clients %}
            <table class="table table-striped table-hover">
                {% for client in clients %}
                <tr>

                    <td><a href="{{ url_for('teacher.show_student', id=client.id) }}" class="clearfix">{{client.first_name}}
                        {{client.last_name}} {{client.middle}}</a></td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>Вы пока никого не курируете. Странно. А ведь должны.</p>
            {% endif %}
            {% if is_mentor %}
            <a class="btn btn-outline-danger btn-lg" href="{{ url_for('teacher.change_mentorship') }}"><span class="fa fa-times"></span> Не хочу быть куратором</a>
            {% else %}
            <a class="btn btn-success btn-lg" href="{{ url_for('teacher.change_mentorship') }}">Записаться куратором</a>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Предстоящие занятия</h3>
            <hr>
            <table class="table table-hover">
                {% for schedule_item in schedule %}
                <tr>
                    <td>{{ schedule_item.date }}</td>
                    <td>{{ schedule_item.subject_name }}</td>
                    <td>{{ schedule_item.student_name }}</td>
                    <td>
                        <a href class="fa fa-times"></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <br>
        </div>
    </div>
</div>
{% endblock %}