{% extends "base.html" %}
{% block title %}Смена расписания{% endblock %}
{% block body %}
<div class="bg-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Прямо сейчас вы меняете расписание для</h5>
                <h3>{{ student.first_name}} {{ student.last_name}} {{ student.middle }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Текущее расписание</h5>
            <p>
                <small>Для удаления занятия кликните по нему, чтобы обавить новое занятие кликните по кнопке внизу.
                    Также вы можете перейти на <a href="">следующую неделю</a></small>
            </p>
            {% for week in schedule %}
            <h1>{{ loop.index }} неделя</h1>
            <hr>
            {% for day in week %}
            {% if day %}
            <div class="row">
                <div class="col-md-4">
                    {{ weekdays[loop.index0] }}
                </div>
                <div class="col-md-8">
                    <table class="table table-stripes table-hover">
                        {% for item in day %}
                        <tr>
                            <td>{{ item.subject_name }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.teacher_name }}</td>
                            <td><a href="{{ url_for('teacher.remove_sch_item', id = item.id ) }}"><span
                                    class="fa fa- fa-times"></span></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <br>
            {% endfor %}
            <a href="{{ url_for('teacher.schedule_add', id = student.id) }}" class="btn btn-success btn-lg">Добавить
                занятие</a>
        </div>
    </div>
</div>
{% endblock %}