{% extends "base.html" %}
{% set active_page = "help" %}
{% block title %}Смена расписания{% endblock %}
{% block body %}
<div class="bg-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Прямо сейчас вы меняете расписание для</h5>
                <h3>{{ student.first_name}} {{ student.last_name}} {{ student.middle }}</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Текущее расписание</h5>
            <p>
                <small>Для удаления занятия кликните по нему, чтобы обавить новое занятие кликните по кнопке внизу.
                    Также вы можете перейти на <a href="">следующую неделю</a></small>
            </p>
            {% for week in schedule %}
            <h1>{{ loop.index }} неделя</h1>
            <hr>
            {% for day in week %}
            {% if day %}
            <div class="row">
                <div class="col-md-4">
                    {{ weekdays[loop.index0] }}
                </div>
                <div class="col-md-8">
                    <table class="table table-stripes table-hover">
                        {% for item in day %}
                        <tr>
                        <td>{{ item.subject_name }}</td>
                            <td>{{ item.time }}</td>
                            <td><a href "><span class="fa fa- fa-times"></span></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <brr>
                <!--
                <table class="table">
                    <thead>
                    <th width="12.5%">Время</th>
                    <th width="12.5%">Пн</th>
                    <th width="12.5%">Вт</th>
                    <th width="12.5%">Ср</th>
                    <th width="12.5%">Чт</th>
                    <th width="12.5%">Пт</th>
                    <th width="12.5%">Сб</th>
                    <th width="12.5%">Вс</th>
                    </thead>
                    <tr>
                        <td>10:00-10:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>10:30-11:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00-11:30</td>
                        <td></td>
                        <td></td>
                        <td><a href="#" class="badge badge-pill badge-danger" data-toggle="tooltip" data-placement="top"
                               title="Белов Александр">Химия</a>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00-11:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:30-12:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12:00-12:30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>12:30-13:00</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <br> -->
                {% endfor %}
                <a href="" class="btn btn-success btn-lg">Добавить занятие</a>
        </div>
    </div>
</div>
{% endblock %}