{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}{{ student.first_name}} {{ student.last_name}} {{ student.middle }}{% endblock %}
{% block body %}
{{ utils.flashed_messages() }}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5 text-center">
            <h3>{{ student.last_name}} {{ student.first_name}}  {{ student.middle }}</h3>
            <p><span class="fa fa- fa-envelope"></span> {{ student.email }}</p>
            <p><span class="fa fa- fa-phone"></span> {{ student.phone_num }}</p>
            <p><span class="fa fa- fa-credit-card"></span> {{ student.balance }}₽</p>
            <a href="{{ url_for('teacher.change_roadmap', id=student.id) }}" class="btn btn-secondary mb-2">Дорожная
                карта</a>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7">
            <div class="bg-1">
                <div class="container">
                    <h3>Вы курируете этого клиента</h3>
                    {% if student.step_number == 5 %}
                    <a href="{{ url_for('teacher.confirm_student', id=student.id) }}" class="btn btn-success">Консультация проведена</a>
                    {% endif %}
                </div>
            </div>
            <br>
            <h3>Расписание занятий</h3>
            <a href="{{ url_for('teacher.get_schedule', id = student.id) }}" class="btn btn-success"><span
                    class="fa fa- fa-pencil"></span> Внести изменения</a>
            <hr>
            <h3>Последние проведенные занятия</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>ФИО учителя</th>
                    <th>Предмет</th>
                    <th>Дата</th>
                </tr>
                </thead>
                <tbody>
                {% for last_lesson in last_lessons %}
                <tr>
                    <td> {{ teachers[loop.index0].last_name }} {{ teachers[loop.index0].first_name }} {{ teachers[loop.index0].middle }} </td>
                    <td> {{ last_lesson_subjects[loop.index0].subject }} </td>
                    <td> {{ last_lesson.time }} </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
            <hr>
            <h3 class="mb-3">Предметы</h3>
            {% for subject in subjects %}
            <div class="row mb-2">
                <div class="col col-6 col-md-7 col-lg-8">
                    <h4>{{subject.subject }}</h4>
                </div>
                <div class="col col-6 col-md-5 col-lg-4 pl-1  text-right">
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        data-target="{{ '#Modal_' ~ subject.id }}">
                    Удалить предмет
                </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="{{ 'Modal_' ~ subject.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Удаление предмета</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="font-size: 12pt">
                                Вы уверены, что хотите удалить этот
                                    предмет и стереть весь прогресс ученика?
                            </div>
                            <div class="modal-footer">
                                <div class="text-right">
                                    <a href="{{url_for('teacher.delete_subject', id = student.id, subject_id = subject.id)}}"
                                       class="btn btn-danger">Удалить предмет</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
            <hr>
            <form action="{{ url_for('teacher.add_subject', id = student.id )}}" , method="POST">
                <input class="mb-2 mr-1" type="text" name="subject_name" value=""
                       style="max-width: 250px" class="mr-2">
                <button type="submit" class="btn btn-success">Добавить предмет</button>
                <div style="display: none">
                    <input type="text" name="student_id" value="{{ student.id }}"
                           style="max-width: 250px">
            </form>
            <hr>
            <h3>Оплата</h3>
        </div>
    </div>
</div>
</div>
{% endblock %}