<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>403</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
        .vertical-center {
            min-height: 100%; /* Fallback for browsers do NOT support vh unit */
            min-height: 100vh; /* These two lines are counted as one :-)       */

            display: flex;
            align-items: center;
        }
    </style>

</head>
<body style="background:url('{{ url_for('static', filename='images/403.jpeg') }}') no-repeat center; background-size: cover; padding-top: 0px">
<div class="vertical-center">
<div class="container" style="max-width: 600px; background-color: white; padding:20px;">
    <h3 align="center">За тобой уже выехали</h3>
    <br>
    <div class="text-center">
        <a href="/" class="btn btn-danger">Убежать</a>
    </div>
    <hr>
    <p><b>Ошибка 403: Доступ запрещен</b> - данная ошибка возникает при попытке обращения к страницам, к
        обращению к которым у тебя нет прав. Если ты думаешь, что это ошибка и ты действительно не пытался ломануть наш
        сайт, то напиши, пожалуйста на admin@edukato.ru</p>
</div>
    </div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>