{% extends "base.html" %}
{% set active_page = "training_home" %}
{% block title %}Вариант ЕГЭ{% endblock %}
{% block body %}
<style>
    .par {
        font-size: 12pt;
    }

    .submit {
        font-size: 14pt;
    }
</style>
<div class="container" style="max-width: 850px">
    <br>
    <h1>Результаты</h1>
    <br>
    <div class="row">
        <div class="col">
            <h5 align="center">Уровень готовности повышен</h5>
            <table class="table" style="margin: 0px">
                <thead>
                </thead>
                <tbody>
                {% for task in tasks %}
                {% if results[loop.index0] %}
                <tr>
                    <th scope="row">{{ task.number }}</th>
                    <td>
                        {{ descriptions[loop.index0] }}
                    </td>
                </tr>
                <tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <hr style="margin-top: 0px; margin-bottom: 20px">
        </div>
        <div class="col">
            <h5 align="center">Уровень готовности понижен</h5>
            <table class="table"
            <hr style="margin: 0px">
            <thead>
            </thead>
            <tbody>
            {% for task in tasks %}
            {% if not results[loop.index0] %}
            <tr>
                <th scope="row">{{ task.number }}</th>
                <td>
                    {{ descriptions[loop.index0] }}
                </td>
            </tr>
            <tr>
                {% endif %}
                {% endfor %}
            </tbody>
            <tbody>
            </tbody>
            </table>
            <hr style="margin-top: 0px; margin-bottom: 20px">
        </div>
    </div>
    <br>

    <h1>Решения и ответы</h1>
    <br>
    <form action="{{ url_for('home.results', subject_id = subject_id)}}" , method="POST" , id="answers">
        {% for task in tasks %}
        <div class="task">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                    <div class="form-inline">
                        <h5>Вопрос {{loop.index}} из {{ number_of_tasks }}: &nbsp;</h5>
                        {% if results[loop.index0] %}
                        <h5 style="color: green">Верно</h5>
                        {% else %}
                        <h5 style="color: red">Неверно</h5>
                        {% endif %}
                    </div>
                    <a href="#" class="btn btn-danger btn-sm" data-toggle="modal"
                       data-target="{{'#error_modal_' ~ task.id }}">
                        Ошибка!
                    </a>
                    <div class="modal fade" id="{{'error_modal_' ~ task.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle_1">Сообщение об ошибке</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Если вам всё-таки удалось найти ошибку в задании или решении, то вы можете
                                        описать её здесь.</label>
                                    <textarea class="form-control" id="{{ 'error_text_' ~ task.id }}"
                                              rows="8"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <a href="javascript:send_error({{ task.id }});" class="btn btn-success">
                                        Отправить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="par">
                <p>
                    {{ task.text }}
                </p>
            </div>
        </div>
        <h5>Решение: </h5>
        <p>
            {{ task.solution }}
        </p>
        <h5>Ваш ответ: {{ answers[loop.index0] }} </h5>
        <h5>Правильный ответ: {{ task.right_answer }} </h5>
        <br>
        {% endfor %}
        <a href="{{ url_for('home.training_home') }}" class="btn btn-success">На главную</a>
    </form>
</div>
<br>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    function send_error(task) {
        $.post(("/ege/send_error/" + task), {
            text: document.getElementById('error_text_' + task).value
        }).done(function () {
        }).fail(function () {
        });
        $('#error_modal_' + task).modal('hide');
    }
</script>

{% endblock %}