{% extends "base.html" %}
{% set active_page = "training_home" %}
{% block title %}Выбор заданий{% endblock %}
{% block body %}
<div class="container" style="max-width: 850px">
    <H1>Выбор заданий</H1>
    <form action="{{ url_for('home.ege', subject_id = subject_id, training_type = 2) }}" method="POST" id="choice">
        <table class="table">
            <thead>
            <tr>
                <th align="center">Номер задания</th>
                <th>Описание задания</th>
                <th>Количество заданий</th>
            </tr>
            </thead>
            <tbody>
            {% for description in descriptions %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td> {{ description }}
                </td>
                <td><input name="{{loop.index}}" class="form-control" type="number" value="0" max="50" min="0" oninvalid="this.setCustomValidity('Количество заданий должно быть меньше 50, но не меньше 0.')"></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <hr>
        <button type="submit" class="btn btn-success">Перейти к решению</button>
    </form>


</div>
<br>
{% endblock %}