{% extends "base.html" %}
{% set active_page = "training_home" %}
{% block title %}Выбор заданий{% endblock %}
{% block body %}
<div class="container" style="max-width: 850px">
    <H1>Выбор заданий</H1>
    <form action="{{ url_for('home.results') }}" id="choice">
        <table class="table">
            <thead>
            <tr>
                <th align="center">Номер задания</th>
                <th>Описание задания</th>
                <th>Количество заданий</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Строение электронных оболочек
                    атомов.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Закономерности изменения химических свойств элементов и их
                    соединений по периодам и группам.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Электроотрицательность. Степень
                    окисления и валентность химических элементов.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Химическая связь. Вещества молекулярного и немолекулярного строения.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Классификация неорганических веществ.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Характерные химические свойства
                    простых веществ.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Характерные химические свойства
                    оксидов.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Характерные химические свойства гидроксидов, кислот и солей.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Взаимосвязь неорганических веществ.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Реакции окислительновосстановительные.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Характерные химические свойства
                    неорганических веществ.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td>Классификация органических веществ.
                </td>
                <td><input class="form-control" type="number" value="0"></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <button type="submit" class="btn btn-success">Перейти к решению</button>
    </form>


</div>
<br>
{% endblock %}