{% extends "base.html" %}
{% set active_page = "training_home" %}
{% block title %}Вариант ЕГЭ{% endblock %}
{% block body %}
<style>
    .par {
        font-size: 12pt;
    }

    .submit {
        font-size: 14pt;
    }
</style>
<div class="container" style="max-width: 850px">
    <h1>Вариант ЕГЭ</h1>
    <br>
    <form action="{{ url_for('home.answers_ege', subject_id = subject_id)}}", method="POST", id="answers">
        {% for task in tasks %}
        <div class="task">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                    <h5>Вопрос {{loop.index}} из {{ tasks_quantity }}</h5>
                    {% if loop.index == 1 %}
                    <H5>Время:&nbsp;<span id="time"></span></H5>
                    {% endif %}
                    <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="{{'#error_modal_' ~ task.id }}">
                        Ошибка!
                    </a>
                    <div class="modal fade" id="{{'error_modal_' ~ task.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle_1">Сообщение об ошибке</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label>Если вам всё-таки удалось найти ошибку в задании или решении, то вы можете
                                        описать её здесь.</label>
                                    <textarea class="form-control" id="{{ 'error_text_' ~ task.id }}" rows="8"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <a href="javascript:send_error({{ task.id }});" class="btn btn-success">
                                        Отправить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="par">
                {% autoescape false %}

                <p>
                    {{ task.text }}
                </p>
                {% endautoescape %}
            </div>
            <hr>
            <div class="form-inline">
                <label class="submit" for="{{ 'answer_' ~ task.id }}">Введите ответ:&nbsp;</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input type="text" class="form-control" id="{{ 'answer_' ~ task.id }}" name="{{ 'answer_' ~ loop.index }}"
                           style="max-width: 250px">
                </div>
            </div>
        </div>
        <div style="display: none">
            <input type="text" name="{{ 'id_for_task_' ~ loop.index }}" value="{{ task.id }}"
                           style="max-width: 250px">
        </div>
        <br>
        {% endfor %}
        <div style="display: none">
            <input type="text" name="number_of_tasks" value="{{ tasks|length }}"
                           style="max-width: 250px">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Результаты</button>
    </form>
</div>
<br>
<script type="text/javascript">

    function trim(string) {
        return string.replace(/\s+/g, " ").replace(/(^\s*)|(\s*)$/g, '');
    }
    var init = 0;
    var startDate;
    var clocktimer;

    function startTIME() {
        var thisDate = new Date();
        var t = thisDate.getTime() - startDate.getTime();
        var ms = t % 1000;
        t -= ms;
        ms = Math.floor(ms / 10);
        t = Math.floor(t / 1000);
        var s = t % 60;
        t -= s;
        t = Math.floor(t / 60);
        var m = t % 60;
        t -= m;
        t = Math.floor(t / 60);
        var h = t % 60;
        if (h < 10) h = '0' + h;
        if (m < 10) m = '0' + m;
        if (s < 10) s = '0' + s;
        if (ms < 10) ms = '0' + ms;
        if (init == 1) {
            document.getElementById('time').innerHTML = h + ':' + m + ':' + s;
        }
        clocktimer = setTimeout("startTIME()", 10);
    }
    function findTIME() {
        startDate = new Date();
        startTIME();
        init = 1;
    }
    findTIME();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script type="text/javascript">
    function send_error(task) {
        $.post(("/ege/send_error/" + task), {
            text: document.getElementById('error_text_' + task).value
        }).done(function () {
        }).fail(function () {
        });
        $('#error_modal_' + task).modal('hide');
    }
</script>
{% endblock %}