{% extends "base.html" %}
{% set active_page = "training" %}
{% block title %}Вариант ЕГЭ{% endblock %}
{% block body %}
<style>
    .par {
        font-size: 12pt;
    }

    .submit {
        font-size: 14pt;
    }
</style>
<div class="container" style="max-width: 850px">
    <div class="task">
        <h1>Вариант ЕГЭ</h1>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                <h5>Вопрос 1 из 19</h5>
                <H5>Время:&nbsp;<span id="time"></span></H5>
                <a href="#" class="btn btn-danger btn-sm">
                    Ошибка!
                </a>
            </div>
        </div>
        <hr>
        <div class="par">
            <p>
                Здесь будет очень каверзный вопрос на 100500 слов <br>
                Может быть даже на пикчу <br>
                вооот тут <br>
                разоримся <br>
                Очень <br>
                Много <br>
                Текста <br>
                Прям <br>
                Воообще <br>
            </p>
        </div>
        <hr>
        <form class="form-inline">
            <label class="submit" for="inlineFormInputGroup">Введите ответ:&nbsp;</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=""
                       style="max-width: 250px">
            </div>

        </form>
    </div>
    <div class="task">
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                <h5>Вопрос 2 из 19</h5>
                <a href="#" class="btn btn-danger btn-sm">
                    Ошибка!
                </a>
            </div>
        </div>
        <hr>
        <div class="par">
            <p>
                Здесь будет очень каверзный вопрос на 100500 слов <br>
                Может быть даже на пикчу <br>
                вооот тут <br>
                разоримся <br>
                Очень <br>
                Много <br>
                Текста <br>
                Прям <br>
                Воообще <br>
            </p>
        </div>
        <hr>
        <form class="form-inline">
            <label class="submit" for="inlineFormInputGroup">Введите ответ:&nbsp;</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=""
                       style="max-width: 250px">
            </div>

        </form>
    </div>
     <div class="task">
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                <h5>Вопрос 3 из 19</h5>
                <a href="#" class="btn btn-danger btn-sm">
                    Ошибка!
                </a>
            </div>
        </div>
        <hr>
        <div class="par">
            <p>
                Здесь будет очень каверзный вопрос на 100500 слов <br>
                Может быть даже на пикчу <br>
                вооот тут <br>
                разоримся <br>
                Очень <br>
                Много <br>
                Текста <br>
                Прям <br>
                Воообще <br>
            </p>
        </div>
        <hr>
        <form class="form-inline">
            <label class="submit" for="inlineFormInputGroup">Введите ответ:&nbsp;</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=""
                       style="max-width: 250px">
            </div>

        </form>
    </div>
     <div class="task">
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                <h5>Вопрос 4 из 19</h5>
                <a href="#" class="btn btn-danger btn-sm">
                    Ошибка!
                </a>
            </div>
        </div>
        <hr>
        <div class="par">
            <p>
                Здесь будет очень каверзный вопрос на 100500 слов <br>
                Может быть даже на пикчу <br>
                вооот тут <br>
                разоримся <br>
                Очень <br>
                Много <br>
                Текста <br>
                Прям <br>
                Воообще <br>
            </p>
        </div>
        <hr>
        <form class="form-inline">
            <label class="submit" for="inlineFormInputGroup">Введите ответ:&nbsp;</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=""
                       style="max-width: 250px">
            </div>

        </form>
    </div>
     <div class="task">
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                <h5>Вопрос 5 из 19</h5>
                <a href="#" class="btn btn-danger btn-sm">
                    Ошибка!
                </a>
            </div>
        </div>
        <hr>
        <div class="par">
            <p>
                Здесь будет очень каверзный вопрос на 100500 слов <br>
                Может быть даже на пикчу <br>
                вооот тут <br>
                разоримся <br>
                Очень <br>
                Много <br>
                Текста <br>
                Прям <br>
                Воообще <br>
            </p>
        </div>
        <hr>
        <form class="form-inline">
            <label class="submit" for="inlineFormInputGroup">Введите ответ:&nbsp;</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=""
                       style="max-width: 250px">
            </div>

        </form>
    </div>
    <a href="#" class="btn btn-success">
        Проверить ответы
    </a>
</div>
<br>
<script type="text/javascript">

    function trim(string) {
        return string.replace(/\s+/g, " ").replace(/(^\s*)|(\s*)$/g, '');
    }
    var init = 0;
    var startDate;
    var clocktimer;

    function startTIME() {
        var thisDate = new Date();
        var t = thisDate.getTime() - startDate.getTime();
        var ms = t % 1000;
        t -= ms;
        ms = Math.floor(ms / 10);
        t = Math.floor(t / 1000);
        var s = t % 60;
        t -= s;
        t = Math.floor(t / 60);
        var m = t % 60;
        t -= m;
        t = Math.floor(t / 60);
        var h = t % 60;
        if (h < 10) h = '0' + h;
        if (m < 10) m = '0' + m;
        if (s < 10) s = '0' + s;
        if (ms < 10) ms = '0' + ms;
        if (init == 1) {
            document.getElementById('time').innerHTML = h + ':' + m + ':' + s;
        }
        clocktimer = setTimeout("startTIME()", 10);
    }
    function findTIME() {
        startDate = new Date();
        startTIME();
        init = 1;
    }
    findTIME();
</script>
{% endblock %}