{% extends "base.html" %}
{% set active_page = "training" %}
{% block title %}Вопрос{% endblock %}
{% block body %}
<style>

    .par {
        font-size: 12pt;
    }

    .submit {
        font-size: 14pt;
    }
</style>
<div class="container" style="max-width: 850px">
    <h1>Рекомендуем отработать</h1>
    <br>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
            <h5>Вопрос 1 из 19</h5>
            <a href="#" class="btn btn-danger btn-sm">
                Ошибка!
            </a>
        </div>
    </div>
    <div class="progress mt-2">
        <div class="progress-bar" role="progressbar" style="width: 67%; height: 1px;" aria-valuenow="67"
             aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="par">
        <p>
            Здесь будет очень каверзный вопрос на 100500 слов <br>
            Может быть даже на пикчу <br>
            вооот тут <br>
            разоримся <br>
            Очень <br>
            Много <br>
            Текста <br>
            Прям <br>
            Воообще <br>
        </p>
    </div>
    <hr>
    <form class="form-inline">
        <label class="submit" for="inlineFormInputGroup">Введите ответ:&nbsp;</label>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="" style="max-width: 250px">
        </div>
        <a href="#" class="btn btn-success">
            Проверить
        </a>
    </form>
</div>
<br>
{% endblock %}