{% extends "base.html" %}
{% set active_page = "training" %}
{% block title %}Вопрос{% endblock %}
{% block body %}
<style>
    .par {
        font-size: 12pt;
    }

    .submit {
        font-size: 14pt;
    }
</style>
<div class="container" style="max-width: 850px">
    <h1>Рекомендуем отработать</h1>
    <br>
    <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12" style="display: flex;justify-content: space-between;">
                <div class="form-inline">
                    <h5>Вопрос 1 из 19: &nbsp;</h5>
                    <h5 style="color: green">Верно</h5>
                </div>
                <a href="#" class="btn btn-danger btn-sm">
                    Ошибка!
                </a>
            </div>
        </div>
    <div class="progress mt-2">
        <div class="progress-bar" role="progressbar" style="width: 67%; height: 1px;" aria-valuenow="67"
             aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="par">
        <p>
            Здесь будет очень каверзный вопрос на 100500 слов <br>
            Может быть даже на пикчу <br>
            вооот тут <br>
            разоримся <br>
            Очень <br>
            Много <br>
            Текста <br>
            Прям <br>
            Воообще <br>
        </p>
    </div>
    <h5>Решение: </h5>
    <p>
        Очень <br>
        Крутое <br>
        Решение
    </p>
    <h5>Ответ: так-то </h5>
    <br>
    <a href="{{ url_for('home.recommendation_question') }}" class="btn btn-success">
        Перейти к следуюущему вопросу
    </a>
</div>
<br>
{% endblock %}