{% extends "base.html" %}
{% set active_page = "training_home" %}
{% block title %}Тренировка{% endblock %}
{% block body %}
<style>
    .par {
        font-size: 12pt; /* Размер шрифта в пунктах */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <a href="#" class="list-group-item justify-content-between list-group-item-action">
                    Главная
                </a>
                {% for student_subject in student_subjects %}
                    <a href="{{url_for('home.training_subject' , subject_id = id_subjects[loop.index0])}}"
                       class="list-group-item justify-content-between list-group-item-action">
                        {{ student_subject }}
                    </a>
                {% endfor %}
            </ul>
            <br>
        </div>
        <div class="col-md-9">
            {% if not rec %}
            <div class="bg-3">
                <div class="row">
                    <div class="col text-center pr-0">
                        <br>
                        <img height="200px" align="middle" src="/static/images/klee.png">
                    </div>
                    <div class="col text-center pl-0">
                        <br><br>
                        <h3>Привет<br> Сегодня у нас {{ ' ' ~ student_subjects_small[rec_subject] }} <br> Сразу 5 вопросов</h3>
                        <br>
                        <a align="center" href="{{url_for('home.ege', subject_id = id_subjects[rec_subject], training_type = 1)}}"
                           class="btn btn-success">
                            Вперёд за знаниями!
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="bg-3">
                <div class="row">
                    <div class="col text-center pr-0">
                        <br>
                        <img height="200px" align="middle" src="/static/images/done.png">
                    </div>
                    <div class="col text-center pl-0">
                        <br><br><br>
                        <h3 class="mt-2"> Молодчина, так держать! </h3>
                        <br>
                        <a align="center" href="{{url_for('home.ege', subject_id = id_subjects[rec_subject], training_type = 1)}}"
                           class="btn btn-success">
                            Продолжить грызть гранит науки!
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            <br>
            <h3 align="center">Но есть и другие варианты:</h3>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-3">
                    <a href="{{ url_for('home.ege', subject_id = id_subjects[rec_subject], training_type = 0) }}"
                       class="list-group-item justify-content-between list-group-item-action ">
                        <div class="col-md-12">
                            <h4 align="center">Вариант ЕГЭ</h4>
                        </div>
                        <div class="par">
                            <p>
                                Автоматически сгенерированый вариант ЕГЭ, позволяющий проверить свою готовность к
                                написанию
                                настоящего варианта ЕГЭ.
                            </p>
                        </div>
                    </a>
                </div>
                <br>
                <div class="col-md-6 col-sm-12" >
                    <a href="{{ url_for('home.choice', subject_id = id_subjects[rec_subject], training_type = 2) }}"
                       class="list-group-item justify-content-between list-group-item-action">
                        <div class="col-md-12">
                            <h4 align="center">Выборочное тестирование</h4>
                        </div>
                        <div class="par">
                            <p>
                                Вариант ЕГЭ составленный из заданий, выбранных пользователем для отработки определенных
                                умений
                                и навыков, необходимых для успешной сдачи экзамена.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}