<html>
<head>
    <title>{{ title }} | edukato</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 100px;
            padding-bottom 20px;
        }

        .no_mar {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">edukato</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if ((current_user.is_authenticated) and (self.title() == "Главная страница")) %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home.account') }}">Мой аккаунт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.feed') }}">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.shop') }}">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
                </li>
            {% elif ((current_user.is_authenticated) and (self.title() == "Лента новостей")) %}
                 <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.account') }}">Мой аккаунт</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home.feed') }}">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.shop') }}">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
                </li>
            {% elif ((current_user.is_authenticated) and (self.title() == "Магазин")) %}
                 <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.account') }}">Мой аккаунт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.feed') }}">Новости</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home.shop') }}">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Выйти</a>
                </li>
            {% elif ( (not(current_user.is_authenticated)) and (self.title() == "Главная страница")) %}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/register">Регистрация</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
            {% elif ( (not(current_user.is_authenticated)) and (self.title() == "Регистрация")) %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                 <li class="nav-item active">
                    <a class="nav-link" href="/register">Регистрация</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
            {% elif ( (not(current_user.is_authenticated)) and (self.title() == "Вход")) %}
                <li class="nav-item ">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/register">Регистрация</a>
                </li>
                 <li class="nav-item active">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>


<div class="container">
    {% block body %}{% endblock %}
    <hr>

    <footer>
        <p>&copy; edukato 2017</p>
    </footer>
</div>

<!-- Bootstrap Javascript -->

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>